*  {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    gap: 40px;

}
/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo i{
    font-size: 30px;
    color: #f4b26b;
    text-shadow: 0 0 15px rgba(244, 178, 107, 0.5);

}
.logo span {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f4b26b;
    
}
/* Navigation */
.nav a {
    margin:  0 15px;
    color:#CCC;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.nav a :hover{
    color: #f4b26b;

}
/* Menu Button */
.menu-btn {
    display: flex;
    background: rgba(244, 178, 107, 0.12);
    border: none;
    color: #f4b26b;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-radius: 4px;


}
    /* Hero */
    .hero {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 0 50px;
      align-items: center;
      
      
    }
    
.heo-content {
    max-width: 920px;
}

.hero-content h1 {
    font-size: 1000px;
    line-height: 50 px;

    
}

.hero-content h1 span {
    color: #f4b26b;
}

.hero-content p {
    margin: 20px 0 35px;
    color:#aaa;
    line-height: 1.7;
}

/* Buttons*/
.buttons {
    display: flex;
    gap: 20px;
}

.btn-primary{
    background: #f4b26b;
    color: black;
    border: none;
    padding: 14px 26px;
    border-radius: 15px;
    font-size: 15px;
     cursor: pointer;
     
   
}

.btm-primaryi{
    margin-right: 8px;
}
.btn-secondary{
    background: transparent;
    color: #f4b26b;
    border: 1px solid #f4b26b;
    padding: 14px 26px;
    border-radius: 30px;
    cursor: pointer;
    bottom: 10px;
    

}
.btn .btn-secondary i{
    margin-right: 9px;
}




    .hero-image img {
        width: 400px; 
        border-radius: 22px;
        box-shadow: 0 0 90px rgba(0,0,0,0.9);
    
        
    }



